*{
    font-family: 'Poppins', sans-serif; 
}

h1, h2, h3, h4, h5, h6{
   text-transform: uppercase;
   font-family: 'Barlow Semi Condensed', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif; 

}

/* textstilar 
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Poppins', sans-serif; */

h1{
    display: inline;
    /* flexa istället?? */
    color: rgb(255, 255, 255);
    font-family: 'Barlow Semi Condensed';
    margin-top: 30px;
    margin-left: 10px;
}

body {
    margin: 0;
}

/* main navbar */

.navbar{
    height: 35px;
    background-color: rgb( 20 27 37);
    opacity: 80%;
}

/* dropdown menu */
li{
    list-style: none;
    /*  kör display: flex; ?? på desktop då*/
}

a{
    text-decoration: none;
}

/* Dropdown Button */
.dropdown-btn{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 14px;
    font-size: 12px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
/* The container <div> - needed to position the dropdown content */
.dropdown-content{
    position: inherit;
    display: inline-block;
    top: 0;
    right: 0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown-menu:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-menu:hover .dropbtn {background-color: rgb(191 146 91);}





@media screen and (min-width: 800px){
    
    /* styling när mobile first är klar */

/* 
    main navbar
    li{
        display: inline;
    }
    a:hover (color: xxx)*/
}