/* kan använda css reset */

/* min start */

*{
    font-family: 'Poppins', sans-serif; 
}

h1, h2, h3, h4, h5, h6{
   text-transform: uppercase;
   font-family: 'Barlow Semi Condensed', sans-serif;
   color: #B78649;
}

p{
    font-family: 'Poppins', sans-serif; 

}

/* textstilar 
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Poppins', sans-serif; */

h1{
    display: inline;
    /* flexa istället?? */
    color: rgb(255, 255, 255);
    font-family: 'Barlow Semi Condensed';
    margin-left: 10px;
    font-size: 28px;
   
}

body {
    margin: 0;
}

/* MAIN NAVBAR */

.navbar{
    height: 35px;
    background-color: rgb( 20 27 37);
    opacity: 80%;
}

/* dropdown menu */
li{
    list-style: none;
    /*  kör display: flex; ?? på desktop då*/
}

a{
    text-decoration: none;
}

/* Dropdown Button */
.dropdown-btn {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}
/* The container <div> - needed to position the dropdown content */
.dropdown-content{
    top: 0;
    right: 0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #B78649;}
  
  /* Show the dropdown menu on hover */
  .dropdown-menu:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-menu:hover .dropbtn {background-color: rgb(191 146 91);}



/* HEADER-PIC */

.header-div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../assets/header-pic.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

/* HEADER-TEXT */

.header-text{
    position: absolute;
    top: 30vh;
    margin: 20px;
}

.welcome{
    margin-bottom: 0;
    font-weight: 100;
}

.dream-style-header{
    font-weight: 1000;
    font-size: 35px;
    color: rgb(235 232 222);
    margin-top: 0px;
    
}

.your-style{
    text-decoration: none;

}

.header-info{
    color: rgb(235 232 222);
    font-weight: 800;
    margin-bottom: 30px;
}

/* SERVICES-BOXES */

h3{
    color: rgb(235 232 222);
    font-family: 'Poppins', sans-serif; 

}

.services > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-weight: 600;
}

.box1, .box3{
    background-color: rgb(191, 146, 91);
    color: rgb(235 232 222);
    
}

.box2, .box4{
    background-color: rgb(183, 134, 73);
    color: rgb(235 232 222);    
}

.services{
    display: flex;
    flex-direction: column;
}

.services > div > img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: -60px;
    z-index: 10;
}










/* ----------------------- */

@media screen and (min-width: 800px){
    
    /* styling när mobile first är klar */

/* 
    main navbar
    li{
        display: inline;
    }
    a:hover (color: xxx)*/
}